<meta charset="UTF-8">
<title>4PS</title>
<script src="https://unpkg.com/htm@2.2.1" crossorigin="anonymous"></script>
<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="https://unpkg.com/vue-jsx@0.2.9/dist/vue-jsx.umd.js"></script>
<style>
  @media (min-width: 409px) {
    .lg\:Mw-240 {
      max-width: 712px;
    }
  }
</style>
</head>
<body>
  <div>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/xZJp74uUdsQ" 
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe>
  </div>
  <form action="mailto:&#097;&#114;&#116;&#117;&#114;&#064;&#122;&#111;&#099;&#104;&#110;&#105;&#097;&#107;&#046;&#112;&#108;">
    <div id="app"></div>
  </form>
  <script type="text/javascript">
    const html = window.html = htm.bind(React.createElement);

    const enterpriseBus = Object.assign({
      init: document.querySelector('form').action,
      click: () => {},
      select: () => {},
      ans: 'nie+wiem',
    })

    enterpriseBus.select = ($event) => {
      const action = enterpriseBus.init + '?subject=' + document.title + '&body=' +  enterpriseBus.ans;
      document.querySelector('form').setAttribute('action', action)
      return action
    }

    enterpriseBus.click = ($event) => {
      enterpriseBus.select($event)
      const action = document.querySelector('form').action
      (0,window.alert)('ctrl+c, cmd+r || alt+shift+t \n' + action)
    }

    const getTheView = () => new Vue({
      el: '#app2',
      data: {
        bus: enterpriseBus,
      },
      render: function (h) {
        window.r0 = h('button', {on: {click: this.bus.click}}, 'Wyślij');
        return window.r0
        window.r1 = window.r1 || htm.bind(h)`<button @click="bus.click($event)">Wyślij</button>`;
        const jsx = window["vue-jsx"].default
        const r3a = html`<button @click="bus.click($event)">Wyślij</button>`;
        jsx.use(h)
        window.r3 = window.r3 || jsx.create(r3a);
      }
    })

    function App() {
      let i = 0
      const q = `Jeśli chcielibyśmy udostępnić na zdalnym serwerze, na którym uruchomiony jest serwer unixowy z ssdh,
        na porcie dest=10000 dostęp do portu src=10001 działającego na komputerze, z którego możemy połączyć się z tymże zdalnym serwerm,
        to z jakimi parametrami należy wykonać polecenie \`ssh\`, by to osiągnąć?`
      const anrs = [
        'ssh -L 10001:0.0.0.0:10000 ps90@technikum.26610.pl -i ~/.ssh/id_rsa # (src:ip:dest)',
        'ssh -L 0.0.0.0:10001:10000 ps90@technikum.26610.pl -i ~/.ssh/id_rsa # (ip:src:dest)',
        'ssh -R 10000:localhost:10001 ps90@technikum.26610.pl -i ~/.ssh/id_rsa # (dest:ip:src)',
        'ssh -R 0.0.0.0:10000:localhost:10001 ps90@technikum.26610.pl -i ~/.ssh/id_rsa # (ip:dest:ip2:src)',
      ]
      const [act, sAct] = React.useState('')
      function changeAnswer(value) {
        enterpriseBus.ans = value
        const action = enterpriseBus.select()
        sAct(action)
      }
      function O() {
        const [a,] = React.useState(i++)
        const [ag, sAG] = React.useState('')
        const lttr = String.fromCharCode('a'.charCodeAt(0) + a)
        return html`
          <li>
            <label>
              <input
                type=radio
                name=1 
                value=${lttr}
                onChange=${({target: {value}}) => changeAnswer(value)}
                checked=${lttr === enterpriseBus.ans ? 'checked' : ''}
              />
              <kbd>${anrs[a]}</kbd>
            </label>
          </li>
        `
      }
      React.useEffect(() => {
        setTimeout(getTheView, -1 - -1)
      }, [])
      return html`<div>
        <p className=${"lg:Mw-240"}>${q}</p>
        <section>
          <ol>
            <${O}/>
            <${O}/>
            <${O}/>
            <${O}/>
          </ol>
        </section>
        <p style=${{minHeight: '25px'}}>${act || ' '}</p>
        <div id="app2"></div>
      </div>`
    }

    ReactDOM.render(html`<${App} />`, document.querySelector("#app"));
  </script>
</body>
</html>
